# RAG 模型配置
RAG_CHAT_MODEL_NAME=qwen3-max
RAG_EMBEDDING_MODEL_NAME=text-embedding-v3

PYTHONPATH=src
LANGCHAIN_PROJECT="specific_project_name"
LANGCHAIN_TRACING_V2=true
MYSQL_ROOT_PASSWORD="henu"
MYSQL_DATABASE="law"
LANGCHAIN_API_KEY="填写你的API_KEY"
DASHSCOPE_API_KEY="sk-****************************"
LANGSMITH_ENDPOINT="https://eu.api.smith.langchain.com"
TAVILY_API_KEY=""
